.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 4px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d68c38;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .explore-button,
  .auth-button-login,
  .auth-button-signup {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d68c38;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .logo {
    width: 200px;
    height: auto;
  }
 
 