.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 24px;
  color: #d68c38;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 10px;
}

.link-container {
  margin-bottom: 20px;
}

.link-container > * {
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d68c38;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.new-button {
  background-color: #6a040f;
}

.disabled-button {
  background-color: #6c757d;
}